<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Standard meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="">
  <link rel="canonical" href="https://{{ client.domain }}{{ page.url }}">

  <!--Social Media Display-->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://{{ client.domain }}{{ page.url }}" />
  <meta property="og:image" content="/assets/images/logo-small.png" />
  <meta property="og:image:secure_url" content="/assets/images/logo-small.png" />

  <!--Favicons-->
  <link rel="icon" type="image/svg" sizes="any" href="/assets/favicons/favicon.svg">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Preloads -->
  <link rel="preload" as="image" href="/assets/svgs/logo.svg">
  <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/baloo" rel="stylesheet">

  <meta name="robots" content="all">

  <!-- Sitewide Stylesheets and Scripts -->

  <!-- PROD CSS-->
  <!-- <link rel="stylesheet" href="/assets/css/output.css" /> -->
  <!-- DEV STYLESHEET -->
  <link rel="stylesheet" href="/assets/css/style.css" /> 
  <!-- DEV CDN -->
  <script src="https://cdn.tailwindcss.com"></script> 

  <!-- AOS -->
  <link rel="stylesheet" href="/assets/aos/aos.css" /> 
  <script src="/assets/aos/aos.js"></script> 

  {% block head %}{% endblock %}

  <!-- Script for Netlify Identity -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window
        .netlifyIdentity
        .on('init', (user) => {
          if (!user) {
            window
              .netlifyIdentity
              .on('login', () => {
                document.location.href = '/admin/';
              });
          }
        });
    }
  </script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJR0XDV6Y3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BJR0XDV6Y3');
  </script>

  <!-- Load library from the CDN -->
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

  <!--For home page, use service keywords for the title, including location for SEO.
        Other pages should just include the page name.
        
        EXAMPLE:
        Home page - House Painting Contractors | Painters and Co. | TestCity, WA
        About Page - About us | Painters and Co.
        -->
  <title>
    {% if page.url == '/'%}
    {{ title }}
    |
    {{ client.name }}
    {% else %}
    {{ title }}
    |
    {{ client.name }}
    {% endif %}
  </title>
</head>

<body>
  <!--Screen reader skip main nav-->

  <main id="main" class="overflow-x-hidden">
    {% block body %}{% endblock %}
  </main>


  <footer class="bg-black bg-cover bg-center text-white">
    <div class="mx-auto w-full max-w-7xl px-5 py-12 md:px-10 md:py-12 lg:py-16">
      <div class="flex flex-col items-center">
        <img src="/assets/svgs/logo.svg" alt="logo" class="inline-block h-24" />
        <div class="mb-8 mt-8 w-48 border-b border-solid border-b-white"></div>
        <p class="max-[479px]:text-sm">© Copyright 2023 - 2025. Designed by edutie team. </p> <!-- Gdy naprawimy docker image zastąpić to {{ currentYear }} -->
      </div>
    </div>
  </footer>

</body>

<script>
  AOS.init({
      duration: 400, // values from 0 to 3000, with step 50ms
      once: true, // whether animation should happen only once - while scrolling down
      easing: 'ease-in-out', // default easing for AOS animations
  });
</script>

</html>