---
title: 'Edutie - e-learning przyszłości'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
---

{% extends "layouts/base.html" %}

    {% block head%}

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/output.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    {% endblock head %}

    {% block body %}
    

    <!-- HERO -->
    
    

    <header>
        <!-- Hero top -->
        <div class="relative hero-gradient">

            <!-- Container -->
            <div class="mx-auto max-w-7xl px-5 py-24 md:px-10 md:py-32 lg:py-40">
                <!-- Title -->
                <div class="relative">
                    <h1 class="absolute text-zinc-700 mb-6 max-w-3xl text-4xl font-bold md:mb-10 md:text-6xl lg:mb-12 mix-blend-color-burn">Nauka stworzona od nowa dla Ciebie</h1>
                    <h1 class="text-stone-800 mb-6 max-w-3xl text-4xl font-bold md:mb-10 md:text-6xl lg:mb-12 opacity-90 translate-x-0.5 -translate-y-0.5">Nauka stworzona od nowa dla Ciebie</h1>
                </div>
                <!-- Subtitle -->
                <div class="relative">
                    <h1 class="text-stone-800 mb-6 max-w-3xl text-lg font-semibold md:mb-10 md:text-xl lg:mb-12">Ucz się efektywniej z Edutie - platformą e-learningową, która elastycznie dostosowuje materiały i zadania specjalnie do ciebie.</h1>
                </div>
                <!-- Buttons -->
                <div class="flex items-stretch">
                <!-- <a href="#" class="mr-6 bg-black px-8 py-4 text-center font-semibold text-white lg:mr-8"> Przejdź do aplikacji</a> -->
                <a href="#" class="flex items-center justify-center border border-solid border-black bg-white px-6 py-3 font-bold">
                    <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94d411e6cf99_Vector%20(6).svg" alt="" class="mr-2 max-h-4 w-5" />
                    <p>Dołącz do waitlisty</p>
                </a>
                </div>
            </div>

            
        <!-- separator -->
        <div class="separator">
        </div>

        </div>
      </header>
      

    <!-- ============================================ -->
    <!--                  Features                    -->
    <!-- ============================================ -->

    
    <section class="z-10">
        <!-- Container -->
        <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
        <!-- Title -->
        <h2 class="items-center text-center text-3xl font-bold md:text-5xl">Ucz się zgodnie ze swoimi preferencjami</h2>
        <p class="mx-auto mb-8 my-4 max-w-lg text-center text-sm text-[#636262] sm:text-base md:mb-12">
            Proces nauczania powinien być elastyczny - dostosowujący się indywidualnie do twoich potrzeb. Wraz z poznawaniem cię, będziemy mogli lepiej dopasować proces nauczania.
        </p>
        <!-- List -->
        <ul class="grid gap-5 sm:gird-cols-2 md:grid-cols-4 md:gap-0">
            <li class="flex flex-col items-center gap-6 border-r-[1px] px-10 py-4 max-[767px]:p-8 max-[767px]:[border-right-style:none]">
            <img src="/assets/images/icons/brain.png" alt="" class="inline-block h-16" />
            <p class="text-xl font-semibold">Predyspozycje</p>
            <p class="text-center text-sm text-[#636262]">Wspólnie odkryjemy to, w jaki sposób się uczysz i pomożemy ci to wykorzystać.</p>
            </li>
            <li class="flex flex-col items-center gap-6 border-r-[1px] px-10 py-4 max-[767px]:p-8 max-[767px]:[border-right-style:none]">
            <img src="/assets/images/icons/skill-development.png" alt="" class="inline-block h-16" />
            <p class="text-xl font-semibold">Umiejętności</p>
            <p class="text-center text-sm text-[#636262]">Poznasz umiejętności, które czynią Cię wyjątkowym i to, jak wpływają one na twoją naukę.</p>
            </li>
            <li class="flex flex-col items-center gap-6 border-r-[1px] px-10 py-4 max-[767px]:p-8 max-[767px]:[border-right-style:none]">
            <img src="/assets/images/icons/light-bulb.png" alt="" class="inline-block h-16" />
            <p class="text-xl font-semibold">Wiedza</p>
            <p class="text-center text-sm text-[#636262]">Uzupełnisz luki we własnej wiedzy, aby móc rozwijać swoje kompetencje dalej.</p>
            </li>
            <li class="flex flex-col items-center gap-6 px-10 py-4 max-[767px]:p-8 max-[767px]:[border-right-style:none]">
              <img src="/assets/images/icons/light-bulb.png" alt="" class="inline-block h-16" />
              <p class="text-xl font-semibold">Wiedza</p>
              <p class="text-center text-sm text-[#636262]">Uzupełnisz luki we własnej wiedzy, aby móc rozwijać swoje kompetencje dalej.</p>
              </li>
          </ul>
        </div>
    </section>

    <hr/>

    <section>
      <!-- Container -->
      <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
        <!-- Title -->
        <h2 class="text-center text-3xl font-bold md:text-5xl">Jak to działa</h2>
        <p class="mx-auto mb-8 mt-4 max-w-lg text-center text-sm text-[#636262] sm:text-base md:mb-12 lg:mb-16">
            Edutie czyni naukę nie tylko efektywną, ale i prostą. Chcemy abyś skupił się na zdobywaniu wiedzy, a nie dekoncentrowaniu się wszystkim innym.
        </p>
        <!-- Content -->
        <div class="mx-auto grid max-w-xl gap-6">
          <!-- Item -->
          <div class="flex items-center justify-center rounded-sm bg-lime-100 px-6 py-4 md:-translate-x-20">
            <div class="mr-6 flex h-14 w-14 flex-none items-center justify-center rounded-sm bg-white">
              <p class="text-sm font-bold sm:text-xl">1</p>
            </div>
            <p class="text-sm sm:text-base">Wybierasz spośród dopasowanych do ciebie materiałów, lub prosisz o stworzenie nowych w oparciu o twój profil.</p>
          </div>
          <!-- Item -->
          <div class="flex items-center justify-center rounded-sm bg-lime-100 px-6 py-4 md:translate-x-20">
            <div class="mr-6 flex h-14 w-14 flex-none items-center justify-center rounded-sm bg-white">
              <p class="text-sm font-bold sm:text-xl">2</p>
            </div>
            <p class="text-sm sm:text-base">Wykonujesz zadanie w oparciu o zestaw spersonalizowanych materiałów i wytłumaczeń zapewnionych w pakiecie.</p>
          </div>
          <!-- Item -->
          <div class="flex items-center justify-center rounded-sm bg-lime-100 px-6 py-4 md:-translate-x-20">
            <div class="mr-6 flex h-14 w-14 flex-none items-center justify-center rounded-sm bg-white">
              <p class="text-sm font-bold sm:text-xl">3</p>
            </div>
            <p class="text-sm sm:text-base">Przesyłasz swoje rozwiązanie, wraz z opisem Twojego sposobu myślenia i dotarcia do odpowiedzi</p>
          </div>
          <!-- Item -->
          <div class="flex items-center justify-center rounded-sm bg-lime-100 px-6 py-4 md:translate-x-20">
            <div class="mr-6 flex h-14 w-14 flex-none items-center justify-center rounded-sm bg-white">
              <p class="text-sm font-bold sm:text-xl">4</p>
            </div>
            <p class="text-sm sm:text-base">Analizujemy Twoje sprawozdanie i dostosowujemy Twój profil, aby tworzyć i dopasowywać lepsze materiały dla Ciebie.</p>
          </div>
        </div>
      </div>
    </section>

    <hr/>

    

		<!-- Section FAQ -->
		<section>
		  <!-- FAQ Container -->
		  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24">
		    <!-- FAQ Title -->
		    <div class="mb-8 text-center md:mb-12 lg:mb-16">
		      <h2 class="text-3xl font-bold md:text-5xl">Frequently Asked</h2>
		      <p class="mx-auto mt-4 max-w-lg text-[#647084]"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,purus sit amet luctus magna fringilla urna </p>
		    </div>
		    <!-- FAQ Content -->
		    <div class="mb-12 flex flex-wrap justify-center gap-4 lg:grid-cols-2">
		      <!-- FAQ Item -->
		      <div class="mb-6 border border-solid border-[#dfdfdf] p-8 lg:max-w-xl">
		        <div class="flex cursor-pointer justify-between">
		          <p class="text-xl font-bold"> How this theme is different from others in market? </p>
		          <div class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center">
		            <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
		            <div class="h-0.5 w-5 bg-[#276ef1]"></div>
		          </div>
		        </div>
		        <p class="mb-4 mt-4"> Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet turpis. Fusce at enim quis neque viverra convallis. Vivamus ut elementum leo, eget tempus nisl. Sed viverra enim ac turpis posuere consectetur. Sed enim nibh, consequat vitae lacus eu, ullamcorper ullamcorper massa. Pellentesque purus eget, imperdiet turpis. </p>
		      </div>
		      <!-- FAQ Item -->
		      <div class="mb-6 border border-solid border-[#dfdfdf] p-8 lg:max-w-xl">
		        <div class="flex cursor-pointer justify-between">
		          <p class="text-xl font-bold"> How this theme is different from others in market? </p>
		          <div class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center">
		            <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
		            <div class="h-0.5 w-5 bg-[#276ef1]"></div>
		          </div>
		        </div>
		        <p class="mb-4 mt-4"> Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet turpis. Fusce at enim quis neque viverra convallis. Vivamus ut elementum leo, eget tempus nisl. Sed viverra enim ac turpis posuere consectetur. Sed enim nibh, consequat vitae lacus eu, ullamcorper ullamcorper massa. Pellentesque purus eget, imperdiet turpis. </p>
		      </div>
		      <!-- FAQ Item -->
		      <div class="mb-6 border border-solid border-[#dfdfdf] p-8 lg:max-w-xl">
		        <div class="flex cursor-pointer justify-between">
		          <p class="text-xl font-bold"> How this theme is different from others in market? </p>
		          <div class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center">
		            <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
		            <div class="h-0.5 w-5 bg-[#276ef1]"></div>
		          </div>
		        </div>
		        <p class="mb-4 mt-4"> Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet turpis. Fusce at enim quis neque viverra convallis. Vivamus ut elementum leo, eget tempus nisl. Sed viverra enim ac turpis posuere consectetur. Sed enim nibh, consequat vitae lacus eu, ullamcorper ullamcorper massa. Pellentesque purus eget, imperdiet turpis. </p>
		      </div>
		      <!-- FAQ Item -->
		      <div class="mb-6 border border-solid border-[#dfdfdf] p-8 lg:max-w-xl">
		        <div class="flex cursor-pointer justify-between">
		          <p class="text-xl font-bold"> How this theme is different from others in market? </p>
		          <div class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center">
		            <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
		            <div class="h-0.5 w-5 bg-[#276ef1]"></div>
		          </div>
		        </div>
		        <p class="mb-4 mt-4"> Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet turpis. Fusce at enim quis neque viverra convallis. Vivamus ut elementum leo, eget tempus nisl. Sed viverra enim ac turpis posuere consectetur. Sed enim nibh, consequat vitae lacus eu, ullamcorper ullamcorper massa. Pellentesque purus eget, imperdiet turpis. </p>
		      </div>
		      <!-- FAQ Item -->
		      <div class="mb-6 border border-solid border-[#dfdfdf] p-8 lg:max-w-xl">
		        <div class="flex cursor-pointer justify-between">
		          <p class="text-xl font-bold"> How this theme is different from others in market? </p>
		          <div class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center">
		            <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
		            <div class="h-0.5 w-5 bg-[#276ef1]"></div>
		          </div>
		        </div>
		        <p class="mb-4 mt-4"> Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet turpis. Fusce at enim quis neque viverra convallis. Vivamus ut elementum leo, eget tempus nisl. Sed viverra enim ac turpis posuere consectetur. Sed enim nibh, consequat vitae lacus eu, ullamcorper ullamcorper massa. Pellentesque purus eget, imperdiet turpis. </p>
		      </div>
		      <!-- FAQ Item -->
		      <div class="mb-6 border border-solid border-[#dfdfdf] p-8 lg:max-w-xl">
		        <div class="flex cursor-pointer justify-between">
		          <p class="text-xl font-bold"> How this theme is different from others in market? </p>
		          <div class="relative ml-10 mt-1 flex h-5 w-5 items-center justify-center">
		            <div class="absolute h-5 w-0.5 bg-[#276ef1]"></div>
		            <div class="h-0.5 w-5 bg-[#276ef1]"></div>
		          </div>
		        </div>
		        <p class="mb-4 mt-4"> Pellentesque in nisi aliquet, pellentesque purus eget, imperdiet turpis. Fusce at enim quis neque viverra convallis. Vivamus ut elementum leo, eget tempus nisl. Sed viverra enim ac turpis posuere consectetur. Sed enim nibh, consequat vitae lacus eu, ullamcorper ullamcorper massa. Pellentesque purus eget, imperdiet turpis. </p>
		      </div>
		    </div>
		    <!-- FAQ Text -->
		    <p class="text-center"> Can’t find the answer you’re looking for? Reach out to our <a href="#">customer support team</a>. </p>
		  </div>
		</section>


    <!-- Section CTA -->
    <section>
        <!-- Container -->
        <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
        <!-- Component -->
        <div class="mx-auto max-w-3xl text-center">
            <!-- Title -->
            <h2 class="mb-4 text-3xl font-bold md:text-5xl">Lightning Fast&nbsp;Webflow Dev Made Easy</h2>
            <p class="mx-auto mb-6 max-w-xl text-sm text-[#636262] sm:text-base md:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna</p>
            <!-- Form -->
            <div class="mx-auto mb-4 flex max-w-xl justify-center">
            <form name="email-form" method="get" class="relative w-full max-w-[80%]">
                <input type="email" class="h-9 w-full border border-solid border-black bg-white px-3 py-6 text-sm text-[#333333]" placeholder="Enter your email" required="" />
                <input type="submit" value="Subscribe" class="relative right-0 top-[5px] w-full cursor-pointer bg-black px-6 py-2 text-center font-semibold text-white sm:absolute sm:right-[5px] sm:w-auto" />
            </form>
            </div>
        </div>
        </div>
    </section>

  {% endblock body %}