/*
Main css file
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Baloo";
    src: url("../fonts/baloo.ttf") format("truetype");
}

@font-face{
    font-family: "Geologica";
    src: url("../fonts/geologica.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Geologica;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Baloo;
    letter-spacing: 0.1rem;
}


// hero gradient
.hero-gradient {
    // background: #f5b410;
    // background: -webkit-linear-gradient(25deg, #f5b410 0%, #f5b410 40%, #a462fa 100%);
    // background: linear-gradient(25deg, #f5b410 0%, #f5b410 40%, #a462fa 100%);
    background: #f5b410;
    background: -webkit-linear-gradient(25deg, #f5b410 0%, #f5b410 30%, #58d400 100%);
    background: linear-gradient(25deg, #f5b410 0%, #f5b410 30%, #58d400 100%);
    background-attachment: fixed;
}

// separator 
.separator{
    position:relative;
    padding-bottom:5.5%;
    overflow:hidden;
    &::after, &::before {
        content:'';
        position:absolute;
        -webkit-backface-visibility:hidden;
    }

    &::before{
        background: transparent;
        bottom:100%; left:-1%;
        width:101%; height:200%;
        
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);    
    }
    &::after {
        background: white;
        top:100%;
        width:115%; height:100%;
        
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        
        -webkit-transform: rotate(-2.5deg);
        -ms-transform: rotate(-2.5deg);
        transform: rotate(-2.5deg);  
    }
}
