/*
Main css file
*/

:root {
    --primary: #85B93E;
    --primary-hover: #6F9D2B;
    --secondary: #58ABB6;
    --accent-1: #F5C129;
    --accent-2: #65469B;
}

@font-face{
    font-family: "Baloo";
    src: url("../fonts/baloo.ttf") format("truetype");
}

@font-face{
    font-family: "Inter";
    src: url("../fonts/inter.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter;
    font-weight: 500;
}

.goofy-text {
    font-family: Baloo;
    font-weight: 500;
}

.hero-showcase {
    transform: perspective(7cm) rotateX(0deg) rotateY(-20deg) rotateZ(0deg) translateX(-20px);
}

.hero-chevron-down {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(30px) rotate(90deg);
    }
    50% {
        transform: translateY(45px) rotate(90deg);
    }
    100% {
        transform: translateY(30px) rotate(90deg);
    }
    
}

// separator - footer
.custom-shape-divider-bottom-1734445858 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1734445858 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1734445858 .shape-fill {
    fill: #000000;
}

